<!DOCTYPE html>
<html>
<head>
    <title>Account recovery</title>
</head>
<body>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.new_password.id_for_label }}">Enter your new password</label><br>
                {{ form.new_password }}
            </div>
            <div class="form-group">
                <label for="{{ form.confirm_password.id_for_label }}">Confirm password</label><br>
                {{ form.confirm_password }}
            </div>
            <button type="submit" class="submit-btn">Enter</button><br>
            {% if form.non_field_errors %}
            <div style="color: red; font-size: 0.9rem; margin-bottom: 1rem;">
                {% for error in form.non_field_errors %}
                    <p><b>{{ error }}</b></p>
                {% endfor %}
            </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
