<!DOCTYPE html>
<head>
    <title>Quiz</title>
</head>
<body>
    <div class= "form-container">
        <form method = "POST">
            {%csrf_token%}
            <h2>Quiz Time!!</h2>
            <p><b>Please fill out the form to  start the quiz</b></p>

            <div class="form-group">
                {{ form.topic }}
                <label for="{{ form.topic.id_for_label }}">Name</label>
            </div>
            <div class="form-group">
                {{ form.number_of_questions }}
                <label for="{{ form.number_of_questions.id_for_label }}">Name</label>
            </div>
            <div class="form-group">
                {{ form.timer }}
                <label for="{{ form.timer.id_for_label }}">Name</label>
            </div>
            <div class= "form-group">
                {{form.difficulty}}
                <label for = "{{form.difficulty.id_for_label}}">Select Difficulty</label>
            </div>
            <div class="form-group">
                {{ form.type_of_questions }}
                <label for="{{ form.type_of_questions.id_for_label }}">Select Category</label>
            </div>

            {% if form.non_field_errors %}
            <div style="color: red; font-size: 0.9rem; margin-bottom: 1rem;">
                {% for error in form.non_field_errors %}
                    <p><b>{{ error }}</b></p>
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="submit-btn">Generate Quiz</button><br>
    </form>
    {% if summary %}
            <div class="summary-section">
                <h3 class="summary-title">
                    📝 Your Summary is Ready
                </h3>
                <div class="summary-content">{{ summary|safe }}</div>
            </div>
            {% endif %}
</body>